<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c7bf6">  <td>21/11/09 20:51:22</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;UKFD_ERP_Testcases.setExtent()[pri:0, instance:com.qa.testcases.UKFD_ERP_Testcases@3aefe5e5]">&gt;&gt;setExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@388357135</td>   <td></td> </tr>
<tr bgcolor="7c7bf6">  <td>21/11/09 20:51:22</td>   <td>299</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;UKFD_ERP_Testcases.setUp()[pri:0, instance:com.qa.testcases.UKFD_ERP_Testcases@3aefe5e5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@388357135</td>   <td></td> </tr>
<tr bgcolor="7c7bf6">  <td>21/11/09 20:51:57</td>   <td>34594</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UKFD_ERP_Testcases.PartailOrderReturnTrade()[pri:3, instance:com.qa.testcases.UKFD_ERP_Testcases@3aefe5e5]">PartailOrderReturnTrade</td> 
  <td>main@388357135</td>   <td></td> </tr>
<tr bgcolor="7c7bf6">  <td>21/11/09 20:59:45</td>   <td>503004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;UKFD_ERP_Testcases.tearDown(org.testng.ITestResult)[pri:0, instance:com.qa.testcases.UKFD_ERP_Testcases@3aefe5e5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@388357135</td>   <td></td> </tr>
<tr bgcolor="7c7bf6">  <td>21/11/09 20:59:45</td>   <td>503006</td> <td>&nbsp;</td><td title="&lt;&lt;UKFD_ERP_Testcases.endReport()[pri:0, instance:com.qa.testcases.UKFD_ERP_Testcases@3aefe5e5]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@388357135</td>   <td></td> </tr>
</table>
